.Head{
    border-bottom: 2px solid black;
}
.Head h1{
    display: inline-block;
}

.Carts{
    float: right;
}

.Carts img{
    float: right;
}

.Carts button{
    float: right;
    background: url("../imgs/cart.png");
    background-size: contain;
    height: 35px;
    max-height: 100%;
    width: 35px;
    max-width: 100%;
    outline: none;
}